<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>

    {{>navbar}}


    <div class="container-fluid mt-5 home-style">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                {{!-- left --}}
                <div class="row">
                    <div
                        class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                        <h1>WE WILL HELP YOU TO </h1>
                        <h1>GROW YOUR BUSINESS </h1>
                        <p>We Are a Team Of <span class="bold-style">Professional Developers✌ </span> </p>
                        <button class="btn-style ten-primary">Read More</button>
                    </div>
                    {{!-- right --}}
                    <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                        <figure>
                            <img src="images/1.jpg" class="img-fluid" alt="ERR">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>about}}

    {{>services}}

    {{>contact}}

    {{>footer}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
    <script>
        $('.nav-link').on('click', function () {
            $('.navbar-collapse').collapse('hide');
        });
    </script>

</body>

</html>