<div class="container-fluid mt-5 about-style" id="aboutid" >
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading" >About Us</h1>
                <p class="text-center sub-heading" >Know more about Us</p>
                <div class="row">
                {{!-- left --}}
                    <div class="col-md-6 col-12 hero-text">
                        <figure >
                            <img src="images/2.jpg" class="img-fluid"  alt="ERR">
                        </figure>
                    </div>
                    {{!-- right --}}
                    <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h1>A TEAM OF PROFESSIONAL <span class="dev">DEVELOPERS✌</span> </h1>
                        <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, consequuntur. Perferendis mollitia quam et aliquam voluptate, aliquid provident earum quisquam. </p>
                        <button class="btn-style ten-primary">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>